@font-face {
    font-family: 'icelandregular';
    src: url('iceland-regular-webfont.woff2') format('woff2'),
         url('iceland-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#enemyEditor {
    vertical-align: middle;
    height: 100%;
}